
<div class="Strm" style="top:200px; bottom:0px ;height:100%;">
    <h2>Complain Box</h2>
    <p style="text-align:left; margin-left:10px">Details</p>
    <form role="form" method="post" action="/User/CComplain">

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="Name " style="margin-left:-15px">Name</label>
                    <input type="text" name="Name" class="form-control" id="Nmae">
                    <label for="Email " style="margin-left:-15px">Email</label>
                    <input type="email" name="Email" class="form-control" id="Email">
                    <label for="Mobile " style="margin-left:0px">Mobile #</label>
                    <input type="number" name="Mobile" class="form-control" id="Mobile No">
                    <label for="Complain " style="margin-left:-15px">Complain</label>
                    <input type="text" name="Complain" class="form-control">
                </div>

            </div>
        </div>


        <button type="submit" class="btn btn-default ">Submint</button>
        <br/>

    </form>

</div>
