
<div class="Strm" style="top:200px; bottom:0px ;height:100%;">
    <h2>Sign Up</h2>
    <p style="text-align:left; margin-left:10px">It's free and always will be.</p>

    <form method="post" action="/User/SSignUp" role="form">


        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">

                    <label for="Name " style="margin-left:-15px">Name</label>
                    <input type="text" name="Name3" class="form-control" id="Name3" />
                    <input type="button" id="b3" value="Check" />

                    <br />
                    <div id="result" style="width:350px"></div>
                    <br />
                    <label for="Email " style="margin-left:-15px">Email</label>
                    <input type="email" name="Email" class="form-control" id="Email">
                    <label for="new Pin" style="margin-left:60px">New Password</label>
                    <input type="password" name="Pin" class="form-control" id="New Password">

                    <label for="Mobile " style="margin-left:0px">Mobile #</label>
                    <input type="number" name="Mobile" class="form-control" id="Mobile No">
                    <label for="Address " style="margin-left:-15px">Address</label>
                    <input type="text" name="Address" class="form-control" id="Address">
                </div>

            </div>
        </div>


        <button type="submit" class="btn btn-default ">Sign Up</button>
        <br>

    </form>

</div>